.container {
    display: flex;
    flex-direction: column;
    flex: 20;
    height: 100vh;
}

.container::after {
    content: "";
}

.hidden {
    display: none;
    text-align: center;
}

.weatherClock {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.login-box{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.todo-box {
    display: flex;
    flex: 3;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#weather {
    /* align-items: flex-end; */
    color: white;
    font-size: 28px;
    font-weight: 900;
    align-items: center;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    margin-left: 50px;
}

#clock {
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    text-align: right;
    font-size: 35px;
    margin-right: 50px;
}

#login-enter {
    width: 450px;
    height: 35px;
    border: none;
    border-bottom: 3px solid white;
    background: none;
    font-size: 30px;
    text-align: center;
    color: white;
    outline: none;
}

#login-enter::placeholder {
    color: white;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
}

#greeting {
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: 800;
    /* border-bottom: 5px solid white; */
}

#no-space {
    flex: 1;
}

#todo-form {
    text-align: center;
    flex: 3;
}

#todo-enter {
    width: 350px;
    height: 35px;
    border: none;
    border-bottom: 3px solid white;
    background: none;
    font-size: 18px;
    color: white;
    outline: none;
}

#todo-enter::placeholder {
    color: white;
    font-weight: 500;
    /* text-align: center; */
}

#todo-list {
    flex: 1;
    color: white;
    font-size: 21px;
    flex-wrap: nowrap;
    /* background-color: rgba(0, 0, 0, 0.8); */
}

button {
    background: none;
    border: none;
}

#quote {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 25px;
}


body {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}